li{
    padding: 20px;
    margin: 5px;
    display: inline-block;
}
ul {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Arrange items in a column */
    align-items: flex-start; /* Align items to start of each row */
}
#container{
    padding: 30px;
   border: 2px solid chocolate;
   width: 70%;
   margin: auto;
   background-color: violet;
}

.question{
    /* padding: 30px;
    border: 2px solid blueviolet;
    width: 70%;
    margin: auto;  
    margin-bottom: 10px;
    background-color: yellow; */
    display: flex;
    flex-direction: column;
   
}
button{
    height: 40px;
    width: 70px;
    background-color: blueviolet;
    color: white;
}

#finalanswer{
    color: black;
    border-radius: 20%;
    border: 2px solid  red;
    text-align: center;
    background-color: aqua;
}

.answer{
   
     /* display: flex;
     left: 450px; 
     border: 2px solid  red;
    height: 2rem;
    width: 5rem; 
    position: relative;
    left: 250px;
    top: 120px;
    font-size: 1rem; */

           display: none; /* Adjust the size according to the content */
            padding: 10px; /* Optional: Add some padding for better appearance */
            /* border: 1px solid #ccc; Optional: Add a border */
            position: relative;  
            height: 50px;
           width: auto;
           position: relative;
           left: 200px;
           top: 120px;
           background-color: blue;
           border-radius: 30px;
           color:white;

}
.small{
    display: flex;
    flex-direction: row;
    padding: 30px;
    border: 2px solid blueviolet;
    width: 70%;
    margin: auto;  
    margin-bottom: 10px;
    background-color: yellow;
}
#options{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
h1{
    width: 300px; /* Set a maximum width */
            white-space: nowrap; /* Prevent wrapping */
            overflow: hidden; /* Hide overflow text */
            text-overflow: ellipsis; 
}